.col-md-6.col-md.offset-3
  %h1= @app.title
  %p= @app.body
  %p
  Submitted by User:
  = mail_to @member
  %p
  .col-md-3
    =link_to "Back", root_path, class: "btn btn-primary"
  - if current_member == @member
    =link_to "Edit", edit_app_path, class: "btn btn-primary"
    =link_to "Delete", app_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary"
  - else
